body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-container {
    width: 100%;
    max-width: 500px;
    background: var(--card-bg);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border);
}

header {
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--accent);
    padding-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 10px;
}

.data-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    gap: 15px;
    align-items: end;
}

.status-bar {
    font-size: 0.8rem;
    color: #64748b;
    margin-top: 5px;
}

.form-group {
    margin-bottom: 1.5rem;
    transition: all 0.3s ease;
}

.hidden {
    display: none;
    opacity: 0;
    transform: translateY(10px);
}

.visible {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
}

    input:focus {
        border-color: var(--primary);
    }


.badge {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 12px;
    background: #dcfce7;
    color: #166534;
    font-size: 0.75rem;
    margin-left: 8px;
}
.serial-placeholder {
    width: 206px;
}

.form-container {
    display: flex;
    gap: 10px;
    align-items: center;
    padding:5px;
}

.submit-button {
    height: 50px;
    text-wrap:nowrap;
}

.receipt-tape-container {
    max-height: 350px;
    overflow: hidden; 
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    margin-top: 0.5rem;
    padding-bottom: 2rem;
}

.tape-row {
    align-items: center;
    padding: 5px;
    background-color: #E7E8E9;
    margin-bottom: 5px;
    border-radius: 10px;
}

.tape-value {
    width:100%;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #f8f9fa;
    font-size: 0.95rem;
    color: #212529;
}