@page "/"

<PageTitle>Home</PageTitle>

    <h1>Welcome</h1>

    <div class="page-button-container">
        <a href="/countwip" class="page-button">
            Count WIP
        </a>
        <a href="/countinventory" class="page-button">
            Count Inventory
        </a>
    </div>
